.taskbox {
    background-color: pink;
    /* width: 20%; */
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    /* border: 2px solid rgb(158, 158, 158); */
    box-shadow: 6px 6px 8px rgba(0, 0, 0, .3);
  }

.text-input-area {
    padding-left: 1rem;
    padding-top: 1rem;
    background: transparent;
    width: 100%;
    /* font-size: 5em; */
    border: 0 none;
    outline: none;
    font-size: 1em;
    opacity: .7;
  }

  .task-button {
      padding: 5px;
      border-style: none;
      background: transparent;
      opacity: .7;
     
  }

  